DATABASE_URL=postgresql://postgres:password@localhost:5432/foodpandadb?schema=public
BETTER_AUTH_SECRET=P0isAPnZ5Ji4alRaC03v1DtKOmIbY5X5
BETTER_AUTH_URL=http://localhost:3010

GMAIL_USERNAME=nahidaslamxxx3@gmail.com
GMAIL_PASSWORD="ijye oqju qhiv wzxs"